@use "variables";
@use "mixins";

.exel__formula {
  left: 0;
  right: 0;
  top: (variables.$header-height + variables.$toolbar-height);
  height: variables.$formula-height;
  border-bottom: 2px solid variables.$border-color;
  position: absolute;
  display: flex;
  align-items: center;


  .info {
    text-align: center;
    font-size: 18px;
    font-style: italic;
    border-right: 1px solid variables.$border-color;
    min-width: variables.$info-cell-width;
 }
  .input {
    padding: 4px;
    font-size: 12px;
    outline: none;
    width: 100%;
    height: 100%;
    color: black;

  }
}