@use "variables";
@use "mixins";

.exel__table {
  position: absolute;
  left: 0;
  right: 0;
  top: variables.$header-height + variables.$toolbar-height + variables.$formula-height;
  overflow-x: auto;
  padding-bottom: 2px;

  .row {
    display: flex;
    flex-direction: row;
    min-height: 20px;
    height: variables.$row-height;

  }
  .row-info {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: variables.$info-cell-width;
    height: 100%;
    border: 2px solid variables.$border-color;
    background: #f8f9fa;
    border-top: none;

  }

  .row-data {
    display: flex;

  }
  .column {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f9fa;
    height: 100%;
    width: variables.$cell-width;
    min-width: 40px;
    border: 2px solid variables.$border-color;
    border-top: none;
    border-left: none;


  }
  .cell {
    min-width: 40px;
    padding: 5px;
    border: 1px solid variables.$border-color;
    border-top: none;
    border-left: none;
    width: variables.$cell-width;
    height: 100%;
    color: #111;
    white-space: nowrap;
    outline: none;

    &.selected {
      border: none;
      outline: 2px solid #1a73e8;
      z-index: 2;
    }
  }

}